<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div id="container">
		<h2>User hand</h2>

		<div id="drag-bar">
			<div id="to-table">TABLE</div>		
		</div>

		<div id="table">

		</div>
	</div>
</body>
</html>
